In [1]:
# Dependencies
import pandas as pd
import json
import requests

In [8]:
# 2019 Census Population URL
pop_2019_url = "https://api.census.gov/data/2019/pep/population?get=DATE_DESC,POP,NAME,STATE&for=county:*"

#Request data in json and store variable
pop_2019_response = requests.get(pop_2019_url)
pop_2019_data = pop_2019_response.json()

# Create list to store values for the census data
date_desc = []
pop = []
name = []
state = []
county = []

# Loop through data and append list
for items in pop_2019_data:
    date_desc.append(items[0])
    pop.append(items[1])
    name.append(items[2])
    state.append(items[3])
    county.append(items[4])

# Create dataframe from list
pop_2019_df = pd.DataFrame({"Date":date_desc, "Population":pop, "County & State":name, 
                        "State ID":state, "County ID":county})

# Clean up Date Column and Split the County and State
pop_2019_df["Date"] = pop_2019_df["Date"].str[:8]
pop_2019_df["County"] = pop_2019_df["County & State"].str.split(',').str[0]
pop_2019_df["State"] = pop_2019_df["County & State"].str.split(',').str[1]

pop_2019_df.head()

,Date,Population,County & State,State ID,County ID,County,State
0,DATE_DES,POP,NAME,STATE,state,NAME,NaN
1,7/1/2019,4198,"Hidalgo County, New Mexico",35,35,Hidalgo County,New Mexico
2,7/1/2019,672391,"Hudson County, New Jersey",34,34,Hudson County,New Jersey
3,7/1/2019,124371,"Hunterdon County, New Jersey",34,34,Hunterdon County,New Jersey
4,7/1/2019,491845,"Morris County, New Jersey",34,34,Morris County,New Jersey

In [10]:
# Grab only Florida Counties and Drop unneccessary Columns
fl_2019_pop = pop_2019_df[pop_2019_df["State ID"] == "12"]
fl_2019_pop = fl_2019_pop.drop(columns=['County & State', 'State ID', 'County ID', 'State'])
fl_2019_pop.head()

         Date Population             County
307  7/1/2019      25473  Washington County
308  7/1/2019     957755       Duval County
309  7/1/2019      28201    Bradford County
310  7/1/2019     601942     Brevard County
311  7/1/2019     219252        Clay County

In [9]:
# 2018 Census Population URL
pop_2018_url = "https://api.census.gov/data/2018/pep/population?get=DATE_DESC,POP,GEONAME,STATE&for=county:*"

#Request data in json and store variable
pop_2018_response = requests.get(pop_2018_url)
pop_2018_data = pop_2018_response.json()

# Create list to store values for the census data
date_desc = []
pop = []
name = []
state = []
county = []

# Loop through data and append list
for items in pop_2018_data:
    date_desc.append(items[0])
    pop.append(items[1])
    name.append(items[2])
    state.append(items[3])
    county.append(items[4])

# Create dataframe from list
pop_2018_df = pd.DataFrame({"Date":date_desc, "Population":pop, "County & State":name, 
                        "State ID":state, "County ID":county})

# Clean up Date Column and Split the County and State
pop_2018_df["Date"] = pop_2018_df["Date"].str[:8]
pop_2018_df["County"] = pop_2018_df["County & State"].str.split(',').str[0]
pop_2018_df["State"] = pop_2018_df["County & State"].str.split(',').str[1]

pop_2018_df.head()

,Date,Population,County & State,State ID,County ID,County,State
0,DATE_DES,POP,GEONAME,STATE,state,GEONAME,NaN
1,7/1/2018,55601,"Autauga County, Alabama",01,01,Autauga County,Alabama
2,7/1/2018,218022,"Baldwin County, Alabama",01,01,Baldwin County,Alabama
3,7/1/2018,24881,"Barbour County, Alabama",01,01,Barbour County,Alabama
4,7/1/2018,22400,"Bibb County, Alabama",01,01,Bibb County,Alabama

In [11]:
# Grab only Florida Counties and Drop unneccessary Columns
fl_2018_pop = pop_2018_df[pop_2018_df["State ID"] == "12"]
fl_2018_pop = fl_2018_pop.drop(columns=['County & State', 'State ID', 'County ID', 'State'])
fl_2018_pop.head()

         Date Population           County
321  7/1/2018     269956   Alachua County
322  7/1/2018      28355     Baker County
323  7/1/2018     185287       Bay County
324  7/1/2018      27732  Bradford County
325  7/1/2018     596849   Brevard County

In [32]:
# Median Household Income
mhi_2019_url = "https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_LB90,SAEMHI_MOE,SAEMHI_PT&for=county:*&YEAR=2019"

#Request data in json and store variable
mhi_2019_response = requests.get(mhi_2019_url)
mhi_2019_data = mhi_2019_response.json()

# Create list to store values for the census data
county = []
mhi_90 = [] #Median Household Income Lower Bound for 90% Confidence Interval
mhi_moe = [] #Median Household Income Margin of Error
mhi_est = [] #Median Household Income Estimate
year = []
state = []
countyID = []

# Loop through data and append list
for items in mhi_2019_data:
    county.append(items[0])
    mhi_90.append(items[1])
    mhi_moe.append(items[2])
    mhi_est.append(items[3])
    year.append(items[4])
    state.append(items[5])
    countyID.append(items[6])

# Create dataframe from list
mhi_2019_df = pd.DataFrame({"Year":year, "County":county, "MHI_90": mhi_90, "MHI_MOE": mhi_moe,
                            "MHI_EST":mhi_est, "State ID":state})

mhi_2019_df.head()

   Year          County       MHI_90     MHI_MOE    MHI_EST State ID
0  YEAR            NAME  SAEMHI_LB90  SAEMHI_MOE  SAEMHI_PT    state
1  2019  Autauga County        52517        5716      58233       01
2  2019  Baldwin County        54593        5278      59871       01
3  2019  Barbour County        31822        4150      35972       01
4  2019     Bibb County        42291        5627      47918       01

In [33]:
# Grab only Florida Counties and Drop unneccessary Columns
fl_2019_mhi = mhi_2019_df[mhi_2019_df["State ID"] == "12"]
fl_2019_mhi = fl_2019_mhi.drop(columns=['State ID'])
fl_2019_mhi.head()

     Year           County MHI_90 MHI_MOE MHI_EST
321  2019   Alachua County  47507    2373   49880
322  2019     Baker County  55713    4741   60454
323  2019       Bay County  55318    3058   58376
324  2019  Bradford County  42134    5375   47509
325  2019   Brevard County  55030    2552   57582

In [34]:
# Median Household Income
mhi_2018_url = "https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_LB90,SAEMHI_MOE,SAEMHI_PT&for=county:*&YEAR=2018"

#Request data in json and store variable
mhi_2018_response = requests.get(mhi_2018_url)
mhi_2018_data = mhi_2018_response.json()

# Create list to store values for the census data
county = []
mhi_90 = [] #Median Household Income Lower Bound for 90% Confidence Interval
mhi_moe = [] #Median Household Income Margin of Error
mhi_est = [] #Median Household Income Estimate
year = []
state = []
countyID = []

# Loop through data and append list
for items in mhi_2018_data:
    county.append(items[0])
    mhi_90.append(items[1])
    mhi_moe.append(items[2])
    mhi_est.append(items[3])
    year.append(items[4])
    state.append(items[5])
    countyID.append(items[6])

# Create dataframe from list
mhi_2018_df = pd.DataFrame({"Year":year, "County":county, "MHI_90": mhi_90, "MHI_MOE": mhi_moe,
                            "MHI_EST":mhi_est, "State ID":state})

mhi_2018_df.head()

   Year          County       MHI_90     MHI_MOE    MHI_EST State ID
0  YEAR            NAME  SAEMHI_LB90  SAEMHI_MOE  SAEMHI_PT    state
1  2018  Autauga County        53628        5710      59338       01
2  2018  Baldwin County        54437        3151      57588       01
3  2018  Barbour County        31157        3225      34382       01
4  2018     Bibb County        41283        4781      46064       01

In [35]:
# Grab only Florida Counties and Drop unneccessary Columns
fl_2018_mhi = mhi_2018_df[mhi_2018_df["State ID"] == "12"]
fl_2018_mhi = fl_2018_mhi.drop(columns=['State ID'])
fl_2018_mhi.head()

     Year           County MHI_90 MHI_MOE MHI_EST
321  2018   Alachua County  49332    1694   51026
322  2018     Baker County  47505    5299   52804
323  2018       Bay County  49023    2754   51777
324  2018  Bradford County  40499    4576   45075
325  2018   Brevard County  55343    2269   57612