In [1]:
# Dependencies
import pandas as pd
import json
import requests

In [11]:
# 2018 Census Population URL
pop_2018_url = "https://api.census.gov/data/2018/pep/population?get=DATE_DESC,POP,GEONAME,STATE&for=county:*"

#Request data in json and store variable
pop_2018_response = requests.get(pop_2018_url)
pop_2018_data = pop_2018_response.json()

# Create list to store values for the census data
date_desc = []
pop = []
name = []
state = []
county = []

# Loop through data and append list
for items in pop_2018_data:
    date_desc.append(items[0])
    pop.append(items[1])
    name.append(items[2])
    state.append(items[3])
    county.append(items[4])

# Create dataframe from list
pop_2018_df = pd.DataFrame({"year":date_desc, "population":pop, "County & State":name, 
                        "State ID":state, "County ID":county})

# Clean up Date Column and Split the County and State
pop_2018_df["year"] = pop_2018_df["year"].str[4:8]
pop_2018_df["county"] = pop_2018_df["County & State"].str.split(' ').str[0]

# Grab only Florida Counties and Drop unneccessary Columns
fl_2018_pop = pop_2018_df[pop_2018_df["State ID"] == "12"]
fl_2018_pop = fl_2018_pop.drop(columns=['County & State', 'State ID', 'County ID'])
fl_2018_pop = fl_2018_pop.set_index(['county'])
fl_2018_pop

            year population
county
Alachua     2018     269956
Baker       2018      28355
Bay         2018     185287
Bradford    2018      27732
Brevard     2018     596849
...          ...        ...
Union       2018      14940
Volusia     2018     547538
Wakulla     2018      32461
Walton      2018      71375
Washington  2018      24880

[67 rows x 2 columns]

In [13]:
# Median Household Income
mhi_2018_url = "https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_LB90,SAEMHI_MOE,SAEMHI_PT&for=county:*&YEAR=2018"

#Request data in json and store variable
mhi_2018_response = requests.get(mhi_2018_url)
mhi_2018_data = mhi_2018_response.json()

# Create list to store values for the census data
county = []
mhi_90 = [] #Median Household Income Lower Bound for 90% Confidence Interval
# mhi_moe = [] #Median Household Income Margin of Error
# mhi_est = [] #Median Household Income Estimate
year = []
state = []
countyID = []

# Loop through data and append list
for items in mhi_2018_data:
    county.append(items[0])
    mhi_90.append(items[1])
    # mhi_moe.append(items[2])
    # mhi_est.append(items[3])
    year.append(items[4])
    state.append(items[5])
    countyID.append(items[6])

# Create dataframe from list
mhi_2018_df = pd.DataFrame({"county":county, "year":year, "income": mhi_90, "State ID":state})

mhi_2018_df["county"] = mhi_2018_df["county"].str.split(' ').str[0]

# Grab only Florida Counties and Drop unneccessary Columns
fl_2018_mhi = mhi_2018_df[mhi_2018_df["State ID"] == "12"]
fl_2018_mhi = fl_2018_mhi.drop(columns=['State ID'])
fl_2018_mhi = fl_2018_mhi.set_index(['county'])
income_2018 = fl_2018_mhi['income']
income_2018

county
Alachua       49332
Baker         47505
Bay           49023
Bradford      40499
Brevard       55343
              ...
Union         41423
Volusia       49088
Wakulla       53658
Walton        55461
Washington    35230
Name: income, Length: 67, dtype: object

In [16]:
# Combine 2018 Data
fl_2018_demo = fl_2018_pop
fl_2018_demo['income'] = income_2018
fl_2018_demo.head()

          year population income
county
Alachua   2018     269956  49332
Baker     2018      28355  47505
Bay       2018     185287  49023
Bradford  2018      27732  40499
Brevard   2018     596849  55343

In [27]:
# 2019 Census Population URL
pop_2019_url = "https://api.census.gov/data/2019/pep/population?get=DATE_DESC,POP,NAME,STATE&for=county:*"

#Request data in json and store variable
pop_2019_response = requests.get(pop_2019_url)
pop_2019_data = pop_2019_response.json()

# Create list to store values for the census data
date_desc = []
pop = []
name = []
state = []
county = []

# Loop through data and append list
for items in pop_2019_data:
    date_desc.append(items[0])
    pop.append(items[1])
    name.append(items[2])
    state.append(items[3])
    county.append(items[4])

# Create dataframe from list
pop_2019_df = pd.DataFrame({"year":date_desc, "population":pop, "County & State":name, 
                        "State ID":state, "County ID":county})

# Clean up Date Column and Split the County and State
pop_2019_df["year"] = pop_2019_df["year"].str[4:8]
pop_2019_df["county"] = pop_2019_df["County & State"].str.split(' ').str[0]

# Grab only Florida Counties and Drop unneccessary Columns
fl_2019_pop = pop_2019_df[pop_2019_df["State ID"] == "12"]
fl_2019_pop = fl_2019_pop.drop(columns=['County & State', 'State ID', 'County ID'])
fl_2019_pop = fl_2019_pop.set_index(['county'])
fl_2019_pop = fl_2019_pop.sort_index()
fl_2019_pop

            year population
county
Alachua     2019     269043
Baker       2019      29210
Bay         2019     174705
Bradford    2019      28201
Brevard     2019     601942
...          ...        ...
Union       2019      15237
Volusia     2019     553284
Wakulla     2019      33739
Walton      2019      74071
Washington  2019      25473

[67 rows x 2 columns]

In [28]:
# Median Household Income
mhi_2019_url = "https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_LB90,SAEMHI_MOE,SAEMHI_PT&for=county:*&YEAR=2019"

#Request data in json and store variable
mhi_2019_response = requests.get(mhi_2019_url)
mhi_2019_data = mhi_2019_response.json()

# Create list to store values for the census data
county = []
mhi_90 = [] #Median Household Income Lower Bound for 90% Confidence Interval
# mhi_moe = [] #Median Household Income Margin of Error
# mhi_est = [] #Median Household Income Estimate
year = []
state = []
countyID = []

# Loop through data and append list
for items in mhi_2019_data:
    county.append(items[0])
    mhi_90.append(items[1])
    # mhi_moe.append(items[2])
    # mhi_est.append(items[3])
    year.append(items[4])
    state.append(items[5])
    countyID.append(items[6])

# Create dataframe from list
mhi_2019_df = pd.DataFrame({"county":county, "year":year, "income": mhi_90, "State ID":state})

mhi_2019_df["county"] = mhi_2019_df["county"].str.split(' ').str[0]

# Grab only Florida Counties and Drop unneccessary Columns
fl_2019_mhi = mhi_2019_df[mhi_2019_df["State ID"] == "12"]
fl_2019_mhi = fl_2019_mhi.drop(columns=['State ID'])
fl_2019_mhi = fl_2019_mhi.set_index(['county'])
fl_2019_mhi = fl_2019_mhi.sort_index()
income_2019 = fl_2019_mhi['income']
income_2019

county
Alachua       47507
Baker         55713
Bay           55318
Bradford      42134
Brevard       55030
              ...
Union         45224
Volusia       51240
Wakulla       52485
Walton        57485
Washington    38404
Name: income, Length: 67, dtype: object

In [29]:
# Combine 2019 Data
fl_2019_demo = fl_2019_pop
fl_2019_demo['income'] = income_2019
fl_2019_demo.head()

          year population income
county
Alachua   2019     269043  47507
Baker     2019      29210  55713
Bay       2019     174705  55318
Bradford  2019      28201  42134
Brevard   2019     601942  55030

In [9]:
# Read in CSV
fl_2020_pop = pd.read_excel("static/data/fl_2020_pop_estimates-Revised-v2.xlsx", header=2)

# Drop all rows with NA
fl_2020_pop = fl_2020_pop.dropna()

# Drop the city rows and keep just county totals
fl_2020_pop = fl_2020_pop[fl_2020_pop.Area.str.contains('County')]

# Create new Couty Column by spliting Area
fl_2020_pop["county"] = fl_2020_pop["Area"].str.split(' ').str[0]

# Drop unnecessary columns, rename Headers, set index to county
fl_2020_pop = fl_2020_pop.drop(columns = ['Area','Total Change', 'Census', 'Inmates', 'Inmates.1'])
fl_2020_pop = fl_2020_pop.rename(columns = {'Population Estimate':'population'})
fl_2020_pop = fl_2020_pop.set_index(['county'])

# Add year column and reorder columns
fl_2020_pop['year'] = "2020"

fl_2020_pop = fl_2020_pop[['year', 'population']]

fl_2020_pop.head()

          year  population
county
Alachua   2020    271588.0
Baker     2020     28532.0
Bay       2020    174410.0
Bradford  2020     28725.0
Brevard   2020    606671.0

In [32]:
fl_combined_demo = pd.concat([fl_2018_demo, fl_2019_demo,fl_2020_pop])

fl_combined_demo = fl_combined_demo.sort_index()

fl_combined_demo

            year population income
county
Alachua     2018     269956  49332
Alachua     2019     269043  47507
Alachua     2020     271588    NaN
Baker       2018      28355  47505
Baker       2019      29210  55713
...          ...        ...    ...
Walton      2019      74071  57485
Walton      2020      74724    NaN
Washington  2018      24880  35230
Washington  2019      25473  38404
Washington  2020      25334    NaN

[201 rows x 3 columns]