In [1]:
# Import modules needed
import pandas as pd
from PyPDF2 import PdfFileReader
import slate3k as slate

# Florida EV Registrations

In [2]:
# Read csv file into dataframe
evreg_path = "static/data/fl_ev_registrations_public.csv"
evreg_df = pd.read_csv(evreg_path, encoding="utf-8")

# Remove unnecessary columns
evreg_df = evreg_df[['Registration Valid Date','County','Vehicle Name']]

#Rename columns
evreg_df = evreg_df.rename(columns={'Registration Valid Date':'report_date'
                        ,'County':'county'
                        ,'Vehicle Name':'vehicle_name'
                        })
evreg_df.head()

  report_date county   vehicle_name
0   6/30/2018   Dade  Tesla Model X
1   6/30/2018   Dade  Tesla Model X
2   6/30/2018   Dade  Tesla Model X
3   6/30/2018   Dade  Tesla Model X
4   6/30/2018   Dade  Tesla Model X

In [3]:
# ----- Seperate Vehicle Make and Model ----- #
# Create list of unique vehicle makes & models
vehicles_ls = evreg_df['vehicle_name'].unique()

# Create placeholder dataframe
vehicles_df = pd.DataFrame({})

# Loop through list, seperating make and model
for vehicle in vehicles_ls:
    
    # Find Make of vehicle
    split_results = vehicle.split(' ')
    make = split_results[0]
    
    # fix makes with multimple words in the name
    if make == 'Land':
        make += ' '+split_results[1]
        
    # Find model of vehicle
    model = vehicle[len(make)+1:]
    
    # Append to vehicle dataframe
    vehicles_df = vehicles_df.append({'vehicle_name':vehicle,'make':make,'model':model}, ignore_index=True)

# Reset index and rename column
vehicles_df = vehicles_df.reset_index()
vehicles_df = vehicles_df.rename(columns={'index':'vehicle_id'})


vehicles_df.head()

   vehicle_id       make         model        vehicle_name
0           0      Tesla       Model X       Tesla Model X
1           1        BMW            X5              BMW X5
2           2      Volvo  XC90 Plug In  Volvo XC90 Plug In
3           3      Volvo  XC60 Plug In  Volvo XC60 Plug In
4           4  Chevrolet          Volt      Chevrolet Volt

In [4]:
# Update evreg_df with vehicle_id   
evreg_clean_df = evreg_df.merge(vehicles_df,left_on='vehicle_name', right_on='vehicle_name')
evreg_clean_df = evreg_clean_df[['report_date','county','vehicle_id']]
# Reset index and rename column
evreg_clean_df = evreg_clean_df.reset_index()
evreg_clean_df = evreg_clean_df.rename(columns={'index':'vehicle_id'})
evreg_clean_df.head()

   vehicle_id report_date county  vehicle_id
0           0   6/30/2018   Dade           0
1           1   6/30/2018   Dade           0
2           2   6/30/2018   Dade           0
3           3   6/30/2018   Dade           0
4           4   6/30/2018   Dade           0

# All Florida regitrations

In [5]:
file_ls = ['fl_reg_2019.pdf','fl_reg_2020.pdf','fl_reg_2021.pdf']

path = 'static/data/'+file_ls[0]

# Initalize PDF reader to get page count
reader = PdfFileReader(open(path,'rb'))
page_ct = reader.getNumPages()

# Read PDF text
with open(path,'rb') as f:
    pdf = slate.PDF(f, just_text=1)

page_num = 0

# ------------------------------------------
# Test code before putting into loop
# ------------------------------------------

pdf[page_num].split('\n')

WARNING:pdfminer.layout:Too many boxes (778) to group, skipping.
WARNING:pdfminer.layout:Too many boxes (201) to group, skipping.

['County',
 'Name',
 '',
 'Vehicle Type Desc',
 '',
 'AUTOS &',
 'PICKUPS',
 '',
 'HEAVY',
 'TRUCKS',
 '',
 'MOTORCYCLE',
 '',
 'BUS',
 '',
 'TOOLS',
 '',
 'VESSEL',
 '',
 'VEHICLE',
 'TRAILER',
 '',
 'TRAVEL',
 'TRAILER',
 '',
 'MOBILE',
 'HOME',
 '',
 'Grand Total',
 '',
 'Grand Total',
 '',
 'ALACHUA',
 '',
 'BAKER',
 '',
 'BAY',
 '',
 'BRADFORD',
 '',
 'BREVARD',
 '',
 'BROWARD',
 '',
 'CALHOUN',
 '',
 'CHARLOTTE',
 '',
 'CITRUS',
 '',
 'CLAY',
 '',
 'COLLIER',
 '',
 'COLUMBIA',
 '',
 'DESOTO',
 '',
 'DIXIE',
 '',
 'DUVAL',
 '',
 'ESCAMBIA',
 '',
 'FLAGLER',
 '',
 'FRANKLIN',
 '',
 'GADSDEN',
 '',
 'GILCHRIST',
 '',
 'GLADES',
 '',
 'GULF',
 '',
 'HAMILTON',
 '',
 'HARDEE',
 '',
 'HENDRY',
 '',
 'HERNANDO',
 '',
 'HIGHLANDS',
 '',
 'HILLSBORO..',
 '',
 'HOLMES',
 '',
 'INDIAN RIV..',
 '',
 'JACKSON',
 '',
 'JEFFERSON',
 '',
 'LAFAYETTE',
 '',
 'LAKE',
 '',
 'LEE',
 '',
 'LEON',
 '',
 'LEVY',
 '',
 'LIBERTY',
 '',
 'MADISON',
 '',
 'MANATEE',
 '',
 'MARION',
 '',
 'MARTIN',
 '',
 'MIAMI-DADE',
 '',
 'MONROE',
 '',
 'NASSAU',
 '',
 'OKALOOSA',
 '',
 'OKEECHOB..',
 '',
 'ORANGE',
 '',
 'OSCEOLA',
 '',
 'PALM BEACH',
 '',
 'PASCO',
 '',
 'PINELLAS',
 '',
 'POLK',
 '',
 'PUTNAM',
 '',
 '24,329',
 '',
 '466,381',
 '',
 '27,941',
 '',
 '32,537',
 '',
 '91,185',
 '',
 '45,172',
 '',
 '596,353',
 '',
 '15,968',
 '',
 '30,796',
 '',
 '62,771',
 '',
 '125,077',
 '',
 '312,809',
 '',
 '267,766',
 '',
 '434,918',
 '',
 '467,173',
 '',
 '208,139',
 '',
 '94,308',
 '',
 '738,583',
 '',
 '943,844',
 '',
 '547,541',
 '',
 '1,289,284',
 '',
 '323,254',
 '',
 '1,300,158',
 '',
 '49,927',
 '',
 '234,879',
 '',
 '113,411',
 '',
 '133,879',
 '',
 '2,099,510',
 '',
 '193,711',
 '',
 '417,923',
 '',
 '397,602',
 '',
 '24,248',
 '',
 '10,017',
 '',
 '65,601',
 '',
 '280,714',
 '',
 '767,938',
 '',
 '415,764',
 '',
 '10,906',
 '',
 '19,768',
 '',
 '59,167',
 '',
 '174,771',
 '',
 '24,429',
 '',
 '1,263,579',
 '',
 '125,466',
 '',
 '210,757',
 '',
 '46,548',
 '',
 '30,967',
 '',
 '16,871',
 '',
 '21,948',
 '',
 '14,628',
 '',
 '26,609',
 '',
 '55,410',
 '',
 '15,604',
 '',
 '122,692',
 '',
 '309,421',
 '',
 '870,302',
 '',
 '22,535',
 '',
 '39,491',
 '',
 '84,429',
 '',
 '393,051',
 '',
 '226,241',
 '',
 '205,710',
 '',
 '225,485',
 '',
 '17,577',
 '',
 '1,834,349',
 '',
 '642,126',
 '',
 '34,690',
 '',
 '212,202',
 '',
 '33,251',
 '',
 '244,208',
 '',
 '21,286,599',
 '',
 '249',
 '',
 '73,090',
 '',
 '10,454',
 '',
 '4,032',
 '',
 '6,387',
 '',
 '4,923',
 '',
 '31,204',
 '',
 '2,319',
 '',
 '5,051',
 '',
 '13,083',
 '',
 '9,645',
 '',
 '12,683',
 '',
 '12,238',
 '',
 '6,023',
 '',
 '27,596',
 '',
 '9,776',
 '',
 '15,048',
 '',
 '77,358',
 '',
 '47,824',
 '',
 '47,266',
 '',
 '16,619',
 '',
 '12,242',
 '',
 '19,262',
 '',
 '6,984',
 '',
 '7,595',
 '',
 '11,170',
 '',
 '6,234',
 '',
 '11,290',
 '',
 '7,972',
 '',
 '38,824',
 '',
 '30,301',
 '',
 '4,303',
 '',
 '1,461',
 '',
 '11,329',
 '',
 '13,219',
 '',
 '41,664',
 '',
 '35,345',
 '',
 '1,486',
 '',
 '2,376',
 '',
 '6,952',
 '',
 '8,342',
 '',
 '3,352',
 '',
 '44,847',
 '',
 '16,829',
 '',
 '19,698',
 '',
 '6,576',
 '',
 '3,701',
 '',
 '3,056',
 '',
 '1,644',
 '',
 '2,129',
 '',
 '5,054',
 '',
 '6,557',
 '',
 '1,236',
 '',
 '4,082',
 '',
 '11,125',
 '',
 '21,830',
 '',
 '3,906',
 '',
 '6,184',
 '',
 '12,450',
 '',
 '10,035',
 '',
 '12,951',
 '',
 '21,265',
 '',
 '16,110',
 '',
 '1,965',
 '',
 '17,329',
 '',
 '24,683',
 '',
 '4,791',
 '',
 '12,153',
 '',
 '4,583',
 '',
 '12,331',
 '',
 '1,023,671',
 '',
 '56',
 '',
 '8,622',
 '',
 '826',
 '',
 '518',
 '',
 '1,176',
 '',
 '818',
 '',
 '6,484',
 '',
 '227',
 '',
 '520',
 '',
 '983',
 '',
 '2,379',
 '',
 '2,662',
 '',
 '2,919',
 '',
 '2,734',
 '',
 '3,936',
 '',
 '3,292',
 '',
 '1,432',
 '',
 '8,663',
 '',
 '7,140',
 '',
 '11,299',
 '',
 '5,196',
 '',
 '2,431',
 '',
 '5,205',
 '',
 '994',
 '',
 '3,136',
 '',
 '1,955',
 '',
 '1,755',
 '',
 '4,139',
 '',
 '1,589',
 '',
 '5,789',
 '',
 '4,274',
 '',
 '358',
 '',
 '157',
 '',
 '1,152',
 '',
 '2,257',
 '',
 '6,282',
 '',
 '6,548',
 '',
 '157',
 '',
 '283',
 '',
 '867',
 '',
 '1,621',
 '',
 '387',
 '',
 '9,563',
 '',
 '1,920',
 '',
 '2,875',
 '',
 '616',
 '',
 '530',
 '',
 '268',
 '',
 '401',
 '',
 '476',
 '',
 '445',
 '',
 '479',
 '',
 '231',
 '',
 '1,148',
 '',
 '3,807',
 '',
 '6,261',
 '',
 '400',
 '',
 '564',
 '',
 '1,357',
 '',
 '2,280',
 '',
 '3,513',
 '',
 '3,594',
 '',
 '2,560',
 '',
 '241',
 '',
 '4,063',
 '',
 '7,201',
 '',
 '546',
 '',
 '3,153',
 '',
 '749',
 '',
 '2,251',
 '',
 '184,710',
 '',
 '12,627',
 '',
 '32,094',
 '',
 '1,270',
 '',
 '5,781',
 '',
 '11,574',
 '',
 '8,128',
 '',
 '60,676',
 '',
 '3,534',
 '',
 '5,671',
 '',
 '11,012',
 '',
 '12,593',
 '',
 '28,657',
 '',
 '23,399',
 '',
 '33,476',
 '',
 '37,597',
 '',
 '27,321',
 '',
 '14,406',
 '',
 '101,966',
 '',
 '66,718',
 '',
 '50,332',
 '',
 '73,345',
 '',
 '21,903',
 '',
 '82,137',
 '',
 '9,261',
 '',
 '23,908',
 '',
 '13,893',
 '',
 '17,957',
 '',
 '116,860',
 '',
 '19,396',
 '',
 '54,971',
 '',
 '32,849',
 '',
 '3,740',
 '',
 '1,855',
 '',
 '11,798',
 '',
 '33,723',
 '',
 '62,817',
 '',
 '49,614',
 '',
 '2,939',
 '',
 '3,617',
 '',
 '9,551',
 '',
 '18,443',
 '',
 '3,639',
 '',
 '106,173',
 '',
 '18,145',
 '',
 '24,171',
 '',
 '7,515',
 '',
 '6,611',
 '',
 '2,333',
 '',
 '3,929',
 '',
 '2,910',
 '',
 '5,558',
 '',
 '7,419',
 '',
 '2,900',
 '',
 '9,858',
 '',
 '31,856',
 '',
 '73,495',
 '',
 '4,142',
 '',
 '7,240',
 '',
 '12,622',
 '',
 '29,436',
 '',
 '23,656',
 '',
 '30,845',
 '',
 '24,258',
 '',
 '3,753',
 '',
 '68,849',
 '',
 '58,902',
 '',
 '6,211',
 '',
 '26,947',
 '',
 '5,169',
 '',
 '26,622',
 '',
 '1,848,573',
 '',
 '333',
 '',
 '29,026',
 '',
 '1,785',
 '',
 '2,290',
 '',
 '5,782',
 '',
 '4,446',
 '',
 '25,740',
 '',
 '706',
 '',
 '2,907',
 '',
 '2,809',
 '',
 '3,713',
 '',
 '12,170',
 '',
 '12,333',
 '',
 '14,489',
 '',
 '20,781',
 '',
 '13,471',
 '',
 '6,472',
 '',
 '26,265',
 '',
 '43,766',
 '',
 '20,439',
 '',
 '36,835',
 '',
 '7,513',
 '',
 '26,983',
 '',
 '3,448',
 '',
 '14,238',
 '',
 '5,430',
 '',
 '23,443',
 '',
 '52,108',
 '',
 '13,241',
 '',
 '16,640',
 '',
 '17,763',
 '',
 '1,018',
 '',
 '870',
 '',
 '4,027',
 '',
 '11,781',
 '',
 '43,689',
 '',
 '19,406',
 '',
 '688',
 '',
 '1,056',
 '',
 '3,571',
 '',
 '9,066',
 '',
 '1,656',
 '',
 '38,122',
 '',
 '7,634',
 '',
 '9,279',
 '',
 '1,665',
 '',
 '1,340',
 '',
 '827',
 '',
 '2,382',
 '',
 '1,312',
 '',
 '1,501',
 '',
 '2,433',
 '',
 '2,113',
 '',
 '5,208',
 '',
 '15,345',
 '',
 '25,445',
 '',
 '1,940',
 '',
 '1,805',
 '',
 '3,814',
 '',
 '19,169',
 '',
 '10,548',
 '',
 '14,906',
 '',
 '18,323',
 '',
 '1,426',
 '',
 '41,033',
 '',
 '30,535',
 '',
 '1,682',
 '',
 '14,315',
 '',
 '1,758',
 '',
 '9,137',
 '',
 '849,190',
 '',
 '80',
 '',
 '8',
 '',
 '16',
 '',
 '10',
 '',
 '160',
 '',
 '6',
 '',
 '9',
 '',
 '22',
 '',
 '21',
 '',
 '59',
 '',
 '76',
 '',
 '102',
 '',
 '125',
 '',
 '42',
 '',
 '50',
 '',
 '178',
 '',
 '343',
 '',
 '96',
 '',
 '259',
 '',
 '52',
 '',
 '254',
 '',
 '7',
 '',
 '47',
 '',
 '32',
 '',
 '94',
 '',
 '893',
 '',
 '65',
 '',
 '97',
 '',
 '96',
 '',
 '5',
 '',
 '12',
 '',
 '12',
 '',
 '467',
 '',
 '155',
 '',
 '208',
 '',
 '6',
 '',
 '4',
 '',
 '33',
 '',
 '44',
 '',
 '9',
 '',
 '622',
 '',
 '38',
 '',
 '43',
 '',
 '14',
 '',
 '50',
 '',
 '4',
 '',
 '16',
 '',
 '5',
 '',
 '6',
 '',
 '21',
 '',
 '24',
 '',
 '95',
 '',
 '261',
 '',
 '6',
 '',
 '23',
 '',
 '40',
 '',
 '91',
 '',
 '37',
 '',
 '34',
 '',
 '43',
 '',
 '8',
 '',
 '503',
 '',
 '207',
 '',
 '11',
 '',
 '64',
 '',
 '7',
 '',
 '99',
 '',
 '6,626',
 '',
 '17',
 '',
 '1,008',
 '',
 '1',
 '',
 '106',
 '',
 '328',
 '',
 '113',
 '',
 '1,013',
 '',
 ...]

In [6]:
# file_ls = ['fl_reg_2019.pdf','fl_reg_2020.pdf','fl_reg_2021.pdf']

# for file in file_ls:
#     path = 'static/data/'+file
    
#     # Initalize PDF reader to get page count
#     reader = PdfFileReader(open(path,'rb'))
#     page_ct = reader.getNumPages()
    
#     # Read PDF text
#     with open(path,'rb') as f:
#         pdf = slate.PDF(f, just_text=1)

#     print('===================================================================')
#     print(f'{file} has {page_ct} pages')
#     print('===================================================================')
    
#     page_num = 0

#     while page_num+1 <= page_ct:
#         print('--------------------------------------------------')
#         print(f'Page #: {page_num+1}')
#         print('--------------------------------------------------')
#         print(pdf[page_num].split('\n'))
#         page_num += 1