In [1]:
# Dependencies
import pandas as pd
import json
import requests

In [69]:
# 2018 Census Population URL
pop_2018_url = "https://api.census.gov/data/2018/pep/population?get=DATE_DESC,POP,GEONAME,STATE&for=county:*"

#Request data in json and store variable
pop_2018_response = requests.get(pop_2018_url)
pop_2018_data = pop_2018_response.json()

# Create list to store values for the census data
date_desc = []
pop = []
name = []
state = []
county = []

# Loop through data and append list
for items in pop_2018_data:
    date_desc.append(items[0])
    pop.append(items[1])
    name.append(items[2])
    state.append(items[3])
    county.append(items[4])

# Create dataframe from list
pop_2018_df = pd.DataFrame({"Date":date_desc, "Population_2018":pop, "County & State":name, 
                        "State ID":state, "County ID":county})

# Clean up Date Column and Split the County and State
pop_2018_df["Date"] = pop_2018_df["Date"].str[4:8]
pop_2018_df["County"] = pop_2018_df["County & State"].str.split(' ').str[0]

# Grab only Florida Counties and Drop unneccessary Columns
fl_2018_pop = pop_2018_df[pop_2018_df["State ID"] == "12"]
fl_2018_pop = fl_2018_pop.drop(columns=['County & State', 'State ID', 'County ID', 'Date'])
fl_2018_pop = fl_2018_pop.set_index(['County'])
fl_2018_pop.head()

         Population_2018
County
Alachua           269956
Baker              28355
Bay               185287
Bradford           27732
Brevard           596849

In [70]:
# 2019 Census Population URL
pop_2019_url = "https://api.census.gov/data/2019/pep/population?get=DATE_DESC,POP,NAME,STATE&for=county:*"

#Request data in json and store variable
pop_2019_response = requests.get(pop_2019_url)
pop_2019_data = pop_2019_response.json()

# Create list to store values for the census data
date_desc = []
pop = []
name = []
state = []
county = []

# Loop through data and append list
for items in pop_2019_data:
    date_desc.append(items[0])
    pop.append(items[1])
    name.append(items[2])
    state.append(items[3])
    county.append(items[4])

# Create dataframe from list
pop_2019_df = pd.DataFrame({"Date":date_desc, "Population_2019":pop, "County & State":name, 
                        "State ID":state, "County ID":county})

# Clean up Date Column and Split the County and State
pop_2019_df["Date"] = pop_2019_df["Date"].str[4:8]
pop_2019_df["County"] = pop_2019_df["County & State"].str.split(' ').str[0]

# Grab only Florida Counties and Drop unneccessary Columns
fl_2019_pop = pop_2019_df[pop_2019_df["State ID"] == "12"]
fl_2019_pop = fl_2019_pop.drop(columns=['County & State', 'State ID', 'County ID', 'Date'])
fl_2019_pop = fl_2019_pop.set_index(['County'])
fl_2019_pop.head()

           Population_2019
County
Washington           25473
Duval               957755
Bradford             28201
Brevard             601942
Clay                219252

In [71]:
fl_combined_pop = fl_2018_pop.merge(fl_2019_pop, on="County")
fl_combined_pop.head()

         Population_2018 Population_2019
County
Alachua           269956          269043
Baker              28355           29210
Bay               185287          174705
Bradford           27732           28201
Brevard           596849          601942

In [72]:
# Median Household Income
mhi_2018_url = "https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_LB90,SAEMHI_MOE,SAEMHI_PT&for=county:*&YEAR=2018"

#Request data in json and store variable
mhi_2018_response = requests.get(mhi_2018_url)
mhi_2018_data = mhi_2018_response.json()

# Create list to store values for the census data
county = []
mhi_90 = [] #Median Household Income Lower Bound for 90% Confidence Interval
mhi_moe = [] #Median Household Income Margin of Error
mhi_est = [] #Median Household Income Estimate
year = []
state = []
countyID = []

# Loop through data and append list
for items in mhi_2018_data:
    county.append(items[0])
    mhi_90.append(items[1])
    mhi_moe.append(items[2])
    mhi_est.append(items[3])
    year.append(items[4])
    state.append(items[5])
    countyID.append(items[6])

# Create dataframe from list
mhi_2018_df = pd.DataFrame({"County":county, "MHI_90_2018": mhi_90, "MHI_MOE_2018": mhi_moe,
                            "MHI_EST_2018":mhi_est, "State ID":state})

mhi_2018_df["County"] = mhi_2018_df["County"].str.split(' ').str[0]

# Grab only Florida Counties and Drop unneccessary Columns
fl_2018_mhi = mhi_2018_df[mhi_2018_df["State ID"] == "12"]
fl_2018_mhi = fl_2018_mhi.drop(columns=['State ID'])
fl_2018_mhi = fl_2018_mhi.set_index(['County'])
fl_2018_mhi.head()

         MHI_90_2018 MHI_MOE_2018 MHI_EST_2018
County
Alachua        49332         1694        51026
Baker          47505         5299        52804
Bay            49023         2754        51777
Bradford       40499         4576        45075
Brevard        55343         2269        57612

In [73]:
# Median Household Income
mhi_2019_url = "https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,SAEMHI_LB90,SAEMHI_MOE,SAEMHI_PT&for=county:*&YEAR=2019"

#Request data in json and store variable
mhi_2019_response = requests.get(mhi_2019_url)
mhi_2019_data = mhi_2019_response.json()

# Create list to store values for the census data
county = []
mhi_90 = [] #Median Household Income Lower Bound for 90% Confidence Interval
mhi_moe = [] #Median Household Income Margin of Error
mhi_est = [] #Median Household Income Estimate
year = []
state = []
countyID = []

# Loop through data and append list
for items in mhi_2019_data:
    county.append(items[0])
    mhi_90.append(items[1])
    mhi_moe.append(items[2])
    mhi_est.append(items[3])
    year.append(items[4])
    state.append(items[5])
    countyID.append(items[6])

# Create dataframe from list
mhi_2019_df = pd.DataFrame({"County":county, "MHI_90_2019": mhi_90, "MHI_MOE_2019": mhi_moe,
                            "MHI_EST_2019":mhi_est, "State ID":state})

mhi_2019_df["County"] = mhi_2019_df["County"].str.split(' ').str[0]

# Grab only Florida Counties and Drop unneccessary Columns
fl_2019_mhi = mhi_2019_df[mhi_2019_df["State ID"] == "12"]
fl_2019_mhi = fl_2019_mhi.drop(columns=['State ID'])
fl_2019_mhi = fl_2019_mhi.set_index(['County'])
fl_2019_mhi.head()

         MHI_90_2019 MHI_MOE_2019 MHI_EST_2019
County
Alachua        47507         2373        49880
Baker          55713         4741        60454
Bay            55318         3058        58376
Bradford       42134         5375        47509
Brevard        55030         2552        57582

In [74]:
fl_combined_mhi = fl_2018_mhi.merge(fl_2019_mhi, on='County')

fl_combined_mhi.head()

,MHI_90_2018,MHI_MOE_2018,MHI_EST_2018,MHI_90_2019,MHI_MOE_2019,MHI_EST_2019
County,,,,,,
Alachua,49332,1694,51026,47507,2373,49880
Baker,47505,5299,52804,55713,4741,60454
Bay,49023,2754,51777,55318,3058,58376
Bradford,40499,4576,45075,42134,5375,47509
Brevard,55343,2269,57612,55030,2552,57582