In [13]:
# Dependencies for Environment Impact of EV Cars
import csv
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt

# Path to Datafiles
filepath = 'Environmental_Impact_Data/emissions_residential_sector_COT.csv'

# Read Fuel Impact Data
fuel_impact_data = pd.read_csv(filepath)
fuel_impact_data_df = pd.DataFrame(fuel_impact_data)
fuel_impact_data_df.head()

,"Emissions, Residential Sector, MMT CO2 eq.",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Fossil fuel combustion: carbon dioxide,338.578020,347.719419,353.988691,366.090923,357.049699,353.133577,383.474435,365.033346,331.610155,...,334.750883,326.151257,282.366812,329.110636,346.539501,317.304029,292.764136,293.397434,338.058253,336.751805
1,Use of fluorinated gases,0.207127,0.453706,0.453706,0.453706,0.463216,8.689669,10.004783,10.797844,10.833751,...,15.136401,17.460654,19.974936,22.774707,25.781775,28.861185,30.421347,32.002137,33.756784,37.243783
2,Fossil fuel combustion: other greenhouse gases,6.285643,6.516625,6.779628,6.067869,5.747232,5.700276,5.975584,4.997469,4.429348,...,5.652444,5.477587,4.597210,5.850522,5.976703,5.337567,4.655479,4.509299,5.435998,5.518141
3,Total,345.070789,354.689750,361.222025,372.612499,363.260147,367.523521,399.454803,380.828659,346.873254,...,355.539728,349.089497,306.938959,357.735865,378.297980,351.502782,327.840961,329.908870,377.251035,379.513730

In [1]:
# Path to Datafiles
filepath = 'Environmental_Impact_Data/emissions_residential_sector_COT.csv'
filepath

# Bar chart of types of fuel and emissions 1990 through 2019
plt.bar(x=filepath['Emission'],
 
        height=df_used_cars['Cars Listings'])

'Environmental_Impact_Data/emissions_residential_sector_COT.csv'